@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Work+Sans:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}
body {
    background: url("./img/background.gif");
    font-family: 'Roboto', sans-serif;
    
}
.heading {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 10px;
    color: white;
    font-size: 15px;
    padding-top: 10px;
}
.navbar ul{
    display: flex;
    padding: 10px;
    justify-content: center;
}
.navbar li {
    padding: 10px;
    justify-content: center;
    list-style: none;
}

.navbar li a {
    text-decoration: none;
    color: white;
}

.content {
    padding: 50px;
    color: white;
    border: 2px solid white;
    text-align: center;
}

.together {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}

.together ul li{
    list-style: none;
    color: white;
    padding: 10px;
    font-family: 'Playfair Display', serif;
    margin-top: 10px;
}
.quotes {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 25px;
    color: white;
    font-family: 'Work Sans', sans-serif;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
    justify-content: center;
}
.column {
    flex: 25%;
    max-width: 20%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}
.column img:hover {
    transform: scale(1.1);
}
@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}